

 Section 608 Technician Certification Requirements | US EPA

 Skip to main content

An official website of the United States government

Here’s how you know

 Here’s how you know

 Official websites use .gov

 A .gov website belongs to an official government organization in the United States.

 Secure .gov websites use HTTPS

 A lock () or https:// means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.

 Menu

 Search

 Search

- 
 Environmental Topics

- Environmental Topics

- Air

- Bed Bugs

- Chemicals, Toxics, and Pesticide 

- Emergency Response

- Environmental Information by Location 

- Health

- Land, Waste, and Cleanup

- Lead

- Mold

- Radon

- Research

- Science Topics

- Water Topics

- A-Z Topic Index

- 
 Laws & Regulations

- Laws & Regulations

- By Business Sector

- By Topic

- Compliance

- Enforcement

- Guidance

- Laws and Executive Orders

- Regulations

- 
 Report a Violation

- Report a Violation

- Environmental Violations

- Fraud, Waste or Abuse

- 
 About EPA

- About EPA

- Our Mission and What We Do

- Headquarters Offices

- Regional Offices

- Labs and Research Centers

- Newsroom

- Planning, Budget, and Results

- Organization Chart

- EPA History

#### Breadcrumb

- 
 Home

- 
 Stationary Refrigeration

- 
 Section 608 Technician Certification

# 
 Section 608 Technician Certification Requirements

Información relacionada en español

On this page:

- Requirements

- Types of Certifications

## Requirements

EPA regulations (40 CFR Part 82, Subpart F) under Section 608 of the Clean Air Act require that technicians who maintain, service, repair, or dispose of equipment that could release refrigerants into the atmosphere must be certified.

Technicians are required to pass an EPA-approved test to earn Section 608 Technician Certification. The tests are specific to the type of equipment the technician seeks to work on. Tests must be administered by an EPA-approved certifying organization. Section 608 Technician Certification credentials do not expire. Core tests taken as an open book exam cannot be used to get your Universal Certification. The core test must be taken as a proctored exam in order to attain Universal Certification. 

EPA regulations (40 CFR Part 82, Subpart F) under Section 608 of the Clean Air Act define a "technician" as an individual who performs any of the following activities:

- Attaching and detaching hoses and gauges to and from an appliance to measure pressure within the appliance.

- Adding refrigerant to or removing refrigerant from an appliance.

- Any other activity that violates the integrity of a motor vehicle air conditioner (MVAC)-like appliance or small appliance (other than disposal).

Apprentices are exempt from certification requirements provided they are closely and continually supervised by a certified technician.

## Types of Certifications

EPA has developed four types of certification:

- For servicing small appliances (Type I).

- For servicing or disposing of high- or very high-pressure appliances, except small appliances and MVACs (Type II).

- For servicing or disposing of low-pressure appliances (Type III).

- For servicing all types of equipment (Universal).

The tests for each of these certification types cover different topics.

### Related Resources

- Fact Sheet: How the revised 608 Rule affects technicians

## Stationary Refrigeration

- Section 608 Technician Certification
- Certification Requirements

- Certification Programs for Section 608 Technicians

- Test Topics

- Steps for Replacing a Lost Section 608 Technician Card

- Technician Trade Groups

- Resources

- Managing Refrigeration and A/C Equipment
- Prohibition on Venting Refrigerants

- Stationary Refrigeration Service Practice Requirements

- Stationary Refrigeration Leak Repair Requirements

- Refrigerant Sales Restriction

- Recordkeeping and Reporting

- Regulatory Updates

- Recovering, Recycling, and Reclaiming Refrigerants
- Refrigerant Recovery and Recycling Equipment Certification

- Stationary Refrigeration Refrigerant Reclamation Requirements

- Summary of Refrigerant Reclamation Trends

- Stationary Refrigeration Safe Disposal Requirements

- Stationary Equipment Owners
- For Businesses

- For Homeowners

- Appliance Disposal

- Section 608 Resources

 Contact Us about Stationary Refrigeration and Air Conditioning

Contact Us about Stationary Refrigeration and Air Conditioning to ask a question, provide feedback, or report a problem. 

Last updated on July 15, 2026

- Assistance

- Spanish

- Arabic

- Chinese (simplified)

- Chinese (traditional)

- French

- Haitian Creole

- Korean

- Portuguese

- Russian

- Tagalog

- Vietnamese

## Discover.

- 
 Accessibility Statement

- 
 Budget & Performance

- 
 Contracting

- 
 EPA www Web Snapshot

- 
 Grants

- 
 No FEAR Act Data

- 
 Plain Writing

- 
 Privacy and Security Notice

## Connect.

- 
 Data

- 
 Inspector General

- 
 Jobs

- 
 Newsroom

- 
 Regulations.gov

- 
 Subscribe

- 
 USA.gov

- 
 White House

## Ask.

- 
 Contact EPA

- 
 EPA Disclaimers

- 
 Hotlines

- 
 FOIA Requests

- 
 Frequent Questions

- 
 Site Feedback

## Follow.

- 

- 

- 

- 


