

 Stationary Refrigeration Safe Disposal Requirements | US EPA

 Skip to main content

An official website of the United States government

Here’s how you know

 Here’s how you know

 Official websites use .gov

 A .gov website belongs to an official government organization in the United States.

 Secure .gov websites use HTTPS

 A lock () or https:// means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.

 Menu

 Search

 Search

- 
 Environmental Topics

- Environmental Topics

- Air

- Bed Bugs

- Chemicals, Toxics, and Pesticide 

- Emergency Response

- Environmental Information by Location 

- Health

- Land, Waste, and Cleanup

- Lead

- Mold

- Radon

- Research

- Science Topics

- Water Topics

- A-Z Topic Index

- 
 Laws & Regulations

- Laws & Regulations

- By Business Sector

- By Topic

- Compliance

- Enforcement

- Guidance

- Laws and Executive Orders

- Regulations

- 
 Report a Violation

- Report a Violation

- Environmental Violations

- Fraud, Waste or Abuse

- 
 About EPA

- About EPA

- Our Mission and What We Do

- Headquarters Offices

- Regional Offices

- Labs and Research Centers

- Newsroom

- Planning, Budget, and Results

- Organization Chart

- EPA History

#### Breadcrumb

- 
 Home

- 
 Stationary Refrigeration

# 
 Stationary Refrigeration Safe Disposal Requirements

On this page:

- Disposal of Equipment Dismantled On-site

- Disposal of Equipment that Enters the Waste Stream with the Refrigerant Charge Intact

EPA regulations (40 CFR Part 82, Subpart F) under Section 608 of the Clean Air Act include requirements for the safe disposal of refrigeration and air-conditioning equipment. These requirements are designed to minimize refrigerant emissions when these appliances are disposed.

## Disposal of Equipment Dismantled On-site

Refrigeration and air-conditioning equipment that is typically dismantled on-site before disposal (e.g., retail food refrigeration, central residential air conditioning, chillers, and industrial process refrigeration) must have refrigerant recovered in accordance with EPA's requirements for servicing prior to their disposal.

### Related Resources

- Appliance Disposal

- Best practices for local governments disposing of appliances

- Fact Sheet: How the revised 608 rule affects appliance disposal

## Disposal of Equipment that Enters the Waste Stream with the Refrigerant Charge Intact

Equipment that typically enters the waste stream with its refrigerant charge intact (e.g., motor vehicle air conditioners [MVACs], household refrigerators and freezers, and window unit air conditioners) are subject to special safe disposal requirements:

- The final person in the disposal chain (such as a scrap metal recycler or landfill owner) is responsible for ensuring that refrigerant is recovered from equipment before its final disposal.

- If the final person in the disposal chain accepts an appliance that no longer holds a refrigerant charge, that person is responsible for maintaining a signed statement from the person who dropped off the appliance. The signed statement must include the name and address of the person who recovered the refrigerant, and the date that the refrigerant was recovered. Alternatively, this could be a copy of a contract between the person or company delivering the appliance(s) to the final processor and their supplier, stating that their supplier will properly recover the refrigerant prior to delivery.

- The final person in the disposal chain may enter into a contract with its regular, commercial suppliers which specifies the supplier will properly recover the refrigerant or verify its proper recovery prior to delivery. This contract option is intended to help streamline transactions between businesses and is not appropriate for use with infrequent  suppliers (e.g., individuals and “peddlers”).

- EPA does not mandate or accept a sticker as a form of verification that the refrigerant has been properly recovered prior to disposal. The final disposer must still obtain from a supplier a signed statement that includes the name and address of the person who recovered the refrigerant, and the date that the refrigerant was recovered. Alternatively, such an appliance may be covered by a contract between the final disposer and the supplier that specifies the supplier will be responsible for properly recovering refrigerant prior to delivery to the final disposer.

- Individuals recovering refrigerant from small appliances, MVACs, and MVAC-like air conditioners, when preparing them for disposal, are not required to be certified technicians. However, the equipment used to recover refrigerant from appliances prior to their final disposal must meet the same performance standards as refrigerant recovery equipment used for servicing.

EPA no longer requires persons involved in the final disposal of appliances to certify to their EPA Regional Office that they have obtained and are properly using EPA-certified refrigerant recovery equipment.

### Related Resources

- Safe Disposal Requirements Brochure

- Guidance for Safe Handling of Refrigerant-containing Appliances/Vehicles After Natural Disasters

## Stationary Refrigeration

- Section 608 Technician Certification
- Certification Requirements

- Certification Programs for Section 608 Technicians

- Test Topics

- Steps for Replacing a Lost Section 608 Technician Card

- Technician Trade Groups

- Resources

- Managing Refrigeration and A/C Equipment
- Prohibition on Venting Refrigerants

- Stationary Refrigeration Service Practice Requirements

- Stationary Refrigeration Leak Repair Requirements

- Refrigerant Sales Restriction

- Recordkeeping and Reporting

- Regulatory Updates

- Recovering, Recycling, and Reclaiming Refrigerants
- Refrigerant Recovery and Recycling Equipment Certification

- Stationary Refrigeration Refrigerant Reclamation Requirements

- Summary of Refrigerant Reclamation Trends

- Stationary Refrigeration Safe Disposal Requirements

- Stationary Equipment Owners
- For Businesses

- For Homeowners

- Appliance Disposal

- Section 608 Resources

 Contact Us about Stationary Refrigeration and Air Conditioning

Contact Us about Stationary Refrigeration and Air Conditioning to ask a question, provide feedback, or report a problem. 

Last updated on March 23, 2026

- Assistance

- Spanish

- Arabic

- Chinese (simplified)

- Chinese (traditional)

- French

- Haitian Creole

- Korean

- Portuguese

- Russian

- Tagalog

- Vietnamese

## Discover.

- 
 Accessibility Statement

- 
 Budget & Performance

- 
 Contracting

- 
 EPA www Web Snapshot

- 
 Grants

- 
 No FEAR Act Data

- 
 Plain Writing

- 
 Privacy and Security Notice

## Connect.

- 
 Data

- 
 Inspector General

- 
 Jobs

- 
 Newsroom

- 
 Regulations.gov

- 
 Subscribe

- 
 USA.gov

- 
 White House

## Ask.

- 
 Contact EPA

- 
 EPA Disclaimers

- 
 Hotlines

- 
 FOIA Requests

- 
 Frequent Questions

- 
 Site Feedback

## Follow.

- 

- 

- 

- 


